<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Preprocessor</title>
</head>
<body>
</body>
<style>
  html {
    height: 100%;
  }
  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
  }
</style>
<script>
    sessionStorage.setItem('session',
        JSON.stringify({
            access_token: '<%=access_token%>',
            refresh_token : '<%=refresh_token%>'
        }));
    window.location.href = '/?access_token=<%=access_token%>';
</script>
</html>